body {
    margin: 0;
    padding: auto;
    
    font-family: "Raleway", sans-serif;
}

.container {
    width: 450px;
    height: 600px;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 1rem;
}